.contact{
    font-size: 3vh;
    font-weight: 800;
    padding: 10vh 0;
    text-align: center;
    font-family: 'Poppins';
    height: auto;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) , black, rgba(255, 255, 255, 0.1));
}
.contacttitle{
    cursor: default;
    transition-duration: 0.9s;
    letter-spacing: 3vh;
    padding: 5vh 0;
}
.linkbox{
    padding: 10vh 0;
    font-size: 4vh;
    letter-spacing: 0.5vh;
    color: white;
}
.link{
    padding: 1vh 0;
    transition-duration: 0.9s;
    cursor: pointer;
    letter-spacing: 0.5vh;
}
.link:hover,.link:focus{
    font-size: 6vh;
    letter-spacing: 1vh;
}

/* mobile */
@media screen and (max-width: 800px) {
    .contact{
        font-size: 2vh;
        font-weight: 800;
        padding: 10vh 0;
        text-align: center;
        font-family: 'Poppins';
        height: auto;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.1) , black, rgba(255, 255, 255, 0.1));
    }
    .contacttitle{
        cursor: default;
        transition-duration: 0.9s;
        letter-spacing: 2vh;
        padding: 5vh 0;
    }
    .linkbox{
        padding: 5vh 0;
        font-size: 3vh;
        letter-spacing: 0.5vh;
        color: white;
    }
    .link{
        padding: 1vh 0;
        transition-duration: 0.4s;
        cursor: pointer;
        letter-spacing: 0.5vh;
    }
    .link:hover,.link:focus{
        font-size: 4vh;
        letter-spacing: 1vh;
    }
}