.Loginpage{
    height: 100vh;
    width: auto;
    padding: 10vh;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.LoginTitle{
    font-size: 6vh;
    font-weight: 600;
    letter-spacing: 1vh;
    margin: 100px 0 ;
}
.LoginBox{
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 10px 0;
}
.LoginInput{
    width: auto;
    font-size: 3vh;
    text-align: center;
    justify-content: center;
}
.LoginInput input{
    font-size: 3vh;
    height: 30px;
    width: 160px;
    margin: 20px 0;
}
.submitlogin{
    border: 2px solid white;
    width: fit-content;
    margin: auto;
    padding: 4px;
    justify-content: center;
    border-radius: 5px;
    transition-duration: 0.9s;
    cursor: pointer;
    margin-top:40px;
}
.submitlogin:hover{
    color: black;
    border: 0px;
    background-color: white;
}